<section id="contact" data-id="contact" class="contact">

        
        
    <div class="contact-header">
        <h2 class="section-title">Me contacter</h2>
        <!-- <p>Si vous êtes intérressé par mon profil, n'hésitez pas à m'envoyer un message</p> -->
    </div>

    <div class="contact-content">
        <div class="contact-container">
            <a href="mailto:contact@mariusdiguat.fr" class="contact-link">
                <img src="assets/img/contact/mail.svg" width="80px"alt="Mail">
                <!-- <p>marius.diguat--ma@utbm.fr</p> -->
            </a>
            <a href="https://www.linkedin.com/in/marius-diguat-mateus-1375231bb/" target="_blank" class="contact-link">
                <img src="assets/img/contact/Linkedin.svg" width="80px"alt="Linkedin">
            </a>
            <a href="https://github.com/Mariusfaitducode" target="_blank" class="contact-link">
                <img src="assets/img/contact/GitHub.svg" width="80px"alt="Github">
            </a>
        </div>
    </div>
    

    <div class="bottom">
        
        
    </div>
    

</section>
