/* A PROPOS */

.apropos{
    
    
    background-color: var(--light-blue);
    color: var(--black);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    z-index: 2;
}

.apropos-text{

    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;

    width: 50%;
}

.apropos-text h2{
    margin-bottom: 40px;
}

.apropos-text h3{
    margin-top: 50px;
    margin-bottom: 40px;
}

.apropos-text h4{
    margin-top: 30px;
   
}

.apropos-text .stage-date{
    color: var(--gray);
    font-weight: 600;

    margin-bottom: 20px;
   
}



.apropos img{
    width: 40%;
    max-width: 600px;
    

    object-fit: cover;

    /* width: 300px;
    height: 200px; */
    /* background-image: linear-gradient(to right, var(--light-blue) 0%, rgba(0, 0, 0, 0) 5%), 
                        url('../img/profil/ProfilNaxos2.jpeg');*/
}




@media screen and (max-width:900px) {

    .apropos{
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .apropos-text{

        margin-left: 10%;
        margin-right: 10%;
        padding-top: 100px;
        padding-bottom: 60px;
    
        width: 80%;
    }

    .apropos img{
        width: 100%;

        max-width: none;
        max-height: 600px;
        
        
        object-fit: cover;
    }
}

.entrepreneur img{
    width: 80px;
    height: 80px;
    /* margin-left: 20px; */
}

.entrepreneur-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 2rem;
}

.entrepreneur-title h3{
    margin: 0px;
    margin-right: 20px;
}

.entrepreneur-logo{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.entrepreneur-name{
    color: #165db4ff;
}