<section id="hero">
        
    <app-game-of-life></app-game-of-life>



    <div class="espacement">
        <div class="hero-content">
            <div class="span" [class.show-hero]="showHeroSpan">{{"I AM" | translate}}</div>
            <h1 class="name" [class.show-hero]="showHeroName">Marius <br>Diguat Mateus.</h1>
            <h2 class="title" [class.show-hero]="true">
                {{this.dynamicText}}
                <span *ngIf="showCursor">|</span>
            </h2>
            
            <!-- <a href="CV Marius DIGUAT-MATEUS.pdf" target="_blank" class="btn">Mon CV</a> -->
        </div>

        

        
    </div>
    
</section>
