/* HERO */



.espacement{
    height: 100vh;
    width: 0px;
    
    z-index: -50;
}


.cell{
    /* width: 40px;
    height: 40px; */
    border: 1px solid var(--dark-blue);
    box-sizing: border-box;
    background-color: var(--black);

    transition: 0.3s all ease-in-out;
}


.hero-content{
    position: absolute;

    margin-top: 200px;
    margin-left: 120px;


    /* width: 600px; */
    max-width: 70%;
    
    
}

.hero-content .span{
    opacity: 0;
    
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    margin-left: 5px;
    transform: translateX(-1500px);
    transition: all 0.5s ease;
    
}

.name{
    opacity: 0;

    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-size: 8rem;

    text-transform: uppercase;

    color: var(--white);

    transform: translateX(-3000px);
    transition: all 1s ease;
}



.title{
    opacity: 0;

    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem;

    color: var(--blue);

    transform: translateX(-4500px);

    transition: all 1.5s ease;

    /* text-transform: uppercase; */
}

.hero-content .span.show-hero{
  opacity: 1;
  transform: translateX(0);
}

.name.show-hero{
  opacity: 1;
  transform: translateX(0);
}

.title.show-hero{
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width:1250px) {

    .name{
       font-size: 7rem;
    }
    .title{
        font-size: 4.5rem;
    }
}

@media screen and (max-width:1000px) {

  .name{
     font-size: 6rem;
  }
  .title{
      font-size: 4rem;
  }
}

@media screen and (max-width:900px) {

    .hero-content{
        margin-top: 150px;
        margin-left: 50px;
        max-height: 400px;
    }
}

