

<main class="main">
  <div class="content">
    
    <!-- Header -->
    <app-navbar-header></app-navbar-header>

    <!-- Hero -->
    <app-hero></app-hero>

    <!-- About -->
    <app-about [timelineEvents]="timelineEvents" ></app-about>

    <!-- Projects -->
    <app-projects [bigProjects]="bigProjects" [smallProjects]="smallProjects"></app-projects>

    <!-- Skills -->
    <app-skills [skills]="skills"></app-skills>

    <!-- Contact -->
    <app-contact></app-contact>

    <!-- Footer -->
    <app-footer></app-footer>


  </div>
</main>



<router-outlet />
