/* A PROPOS */

.about{
    
    
    background-color: var(--light-blue);
    color: var(--black);


    position: relative;
    z-index: 2;

    padding: 100px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

// .title{
//     display: flex;
//     justify-content: center;

//     // padding-top: 100px;
//     // margin: 0px;
//     // padding-bottom: 40px;
// }

br{
    height: 20px;
}


.presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    width: 90vw;
    max-width: 1200px;
    // padding: 20px 0px;

    padding-bottom: 20px;
}

.presentation-left{
    width: 50%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
}

.presentation-text{
    font-size: 1.8rem;
}
.line-step{
    height: 8px;
}

.cv-button{

    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    // width: 150px;
    height: 50px;

    
}

.cv-button a{

    width: 150px;
    height: 50px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue-3);
    color: var(--white);

    border: 3px solid var(--blue-3);
    border-radius: 25px;

    font-size: 2rem;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s;
}

.cv-button a:hover{
    background-color: var(--light-blue);
    color: var(--blue-3);

}

.presentation img{
    // width: 450px;
    // height: 450px;

    width: clamp(250px, 35vw, 450px);
    height: clamp(250px, 35vw, 450px);

    // max-width: 600px;
    object-fit: cover;

    border-radius: 50%;
}


@media screen and (max-width:1000px) {

    .presentation{
        
        gap: 20px;
    }
}




@media screen and (max-width:800px) {

    .presentation{
        flex-direction: column;
        gap: 20px;
        // width: 100%;
    }

    .presentation-left{
        width: 80%;
        height: fit-content;
        max-width: 600px;
    }

    .presentation img{
        // width: 380px;
        // height: 380px;
    
        width: clamp(250px, 80vw, 380px);
        height: clamp(250px, 80vw, 380px);
    }
}


@media screen and (max-width:400px) {

    .presentation-left{
        width: 90%;
    }
}

// .entrepreneur img{
//     width: 80px;
//     height: 80px;
//     /* margin-left: 20px; */
// }

// .entrepreneur-title{
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     /* justify-content: space-between; */
//     align-items: center;

//     margin-top: 3rem;
//     margin-bottom: 2rem;
// }

// .entrepreneur-title h3{
//     margin: 0px;
//     margin-right: 20px;
// }

// .entrepreneur-logo{
//     display: flex;
//     flex-direction: row;
//     /* justify-content: space-between; */
//     align-items: center;
// }

// .entrepreneur-name{
//     color: #165db4ff;
// }