<section id="about" class="about">

    <h2 class="title">{{"ABOUT" | translate}}</h2>


    <div class="presentation">

        <p>
            {{"PRESENTATION 1" | translate}}
            <a href="https://www.utbm.fr/">{{"UTBM" | translate}}
            </a> 
            <br>
            {{"PRESENTATION 2" | translate}}
            <br>
            <!-- Maintenant en branche informatique, je découvre davantage ce vaste monde. 
            <br> -->
            {{"PRESENTATION 3" | translate}}
        </p>

        <img src="assets/img/profil/profil.jpg" alt="">

        

    </div>

    <h3 class="title">Bientôt ingénieur</h3>

    <app-timeline [timelineEvents]="timelineEvents" [visibleExperiences]="timelineEvents"></app-timeline>

    <!-- <app-marscode></app-marscode> -->   
    
</section>