<section id="portfolio" data-id="portfolio" class="portfolio">
        
    <div class="portfolio-header">

        <h2>Mes projets</h2>
    
        <!-- Ce qui m'a tout de suite plu dans la programmation, c'est la grandeur des possibilités qui me paraît infinie. Après avoir fait mon tout premier projet 
        (un Puissance 4 de taille réglable (Puissance N)), je me suis lancé dans une multitude de différents projets me permettant de travailler ma logique,
        ma créativité et d'apprendre de nouvelles choses. Voici un aperçu de mes meilleurs projets. -->

        <!-- Ce qui m'a tout de suite plu dans la programmation, c'est l'exploration d'un environnement aux ressources inépuisables. 
        Après avoir codé mon tout premier projet (un Puissance 4 de taille réglable (Puissance N)), je me suis lancé dans une multitude de défis. 
        Chaque réalisation me permet de perfectionner ma logique, ma créativité et m'oblige à m'ouvrir aux autres pour m'enrichir de leur savoir-faire. 
        Voici un aperçu de mes réalisations. -->
    
    </div>
        
        <div class="portfolio-filters">
            
            <a [class.active]="filter == 'all'" (click)="changeFilter('all')">Tous les projets</a>
        
            <a [class.active]="filter == 'web'" (click)="changeFilter('web')">Web</a>

            <a [class.active]="filter == 'application'" (click)="changeFilter('application')">Application</a>
        
            <a [class.active]="filter == 'game'" (click)="changeFilter('game')">Jeux vidéo</a>
        
            <a [class.active]="filter == 'algorithm'" (click)="changeFilter('algorithm')">Algorithmes spécifiques</a>
            
        </div>


        <div *ngFor="let project of bigProjects; let i = index">

            <app-big-project *ngIf="project.bigProject == true" [project]="project" [reversed]="i % 2 != 0"></app-big-project>
            
        </div>

        <div class="projects-container">
            <div *ngFor="let project of smallProjects">

                <app-card-project *ngIf="project.bigProject == false" [project]="project"></app-card-project>
                
            </div>
        </div>
        




    
</section>