


<h3 class="title">Auto-entrepreneur</h3>


<div class="presentation">

    <img src="assets/img/profil/logo_MC.png" alt="">


    <p>Je suis devenu depuis début 2024 auto-entrepreneur. 
        Je réalise actuellement le développement d'une application mobile d'e-commerce pour mon premier client.
        J'ai également été sélectionné par la <a href="https://junior.utbm.fr/">Junior UTBM</a> pour réaliser une mission de recherche opérationelle pour Enedis. 
        Je souhaite continuer à développer mon profil de freelancer à la suite de ces premières missions.</p>


    

</div>