<section id="competences" data-id="competences" class="competences">

    <div class="competences-header">
        <h2>Mes compétences</h2>

        <!-- <div class="section-header">
          <p>En 3ans, j'ai découvert et appris énormément de choses à travers les cours et mes différents projets personnels. 
            <br>
            Ce semestre, j'apprends à l'UTBM : <strong>le C++</strong>, la création d'interface graphique avec <strong>Qt Creator</strong>, 
            le développement Web avec <strong>JavaScript, PHP, Angular</strong>, les bases de données avec <strong>SQL</strong> et d'autres matières plus théorique tels que la recherche opérationnelle et l'algorithmie quantique.    
          </p>
        </div> -->
    </div>

    <div class="competences-container">

        <h3>Programmation</h3>
                
        <div class="skills">
            <div class="skills-item">
                <img src="assets/img/skills/Python.svg" width="80px"alt="Python">
                <span>Python</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/C.svg" width="80px"alt="C">
                <span>C</span>
            </div>
            
            <div class="skills-item">
                <img src="assets/img/skills/C_sharp.svg" width="80px"alt="C#">
                <span>C#</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Java.svg" width="80px"alt="Java">
                <span>Java</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Cpp.svg" width="80px"alt="C++">
                <span>C++</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Git.svg" width="80px"alt="C++">
                <span>Git</span>
            </div>
        </div>

        <h3>Back-end</h3>

        <div class="skills">
            
            <div class="skills-item">
                <img src="assets/img/skills/NET_Core.svg" width="70px"alt="PHP">
                <span>C# .NET</span>
            </div>
            
            <div class="skills-item">
                <img src="assets/img/skills/PHP.svg" width="80px"alt="PHP">
                <span>PHP</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/node-red.svg" width="70px"alt="PHP">
                <span>Node Red</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/NestJS.svg" width="70px"alt="PHP">
                <span>NestJS</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/NodeJS.svg" width="70px"alt="PHP">
                <span>NodeJS</span>
            </div>
        </div>

        <h3>Front-end</h3>

        <div class="skills">
            <div class="skills-item">
                <img src="assets/img/skills/Html.svg" width="80px"alt="Html">
                <span>Html</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Css.svg" width="80px"alt="Css">
                <span>CSS</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/TypeScript.svg" width="70px"alt="JavaScript">
                <span>TypeScript</span>
            </div>
            
            <div class="skills-item">
                <img src="assets/img/skills/JavaScript.svg" width="70px"alt="JavaScript">
                <span>JavaScript</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/Angular.svg" width="80px"alt="JavaScript">
                <span>Angular</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/Ionic.svg" width="70px"alt="JavaScript">
                <span>Ionic</span>
            </div>
            
        </div>

        <h3>Base de données</h3>

        <div class="skills">
            <div class="skills-item">
                <img src="assets/img/skills/Sql.svg" width="80px"alt="JavaScript">
                <span>SQL</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/MongoDB.svg" width="80px"alt="JavaScript">
                <span>MongoDB</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/neo4j.png" width="80px"alt="JavaScript">
                <span>Neo4j</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/firebase.svg" width="80px"alt="JavaScript">
                <span>Firebase</span>
            </div>

            <div class="skills-item">
                <img src="assets/img/skills/influxdb.svg" width="80px"alt="JavaScript">
                <span>InfluxDB</span>
            </div>
            
        </div>

        <h3>Infographie</h3>
                
        <div class="skills">
            <!-- <div class="skills-item">
                <img src="./img/skills/Github.svg" width="80px"alt="Python">
                <span>Github</span>
            </div> -->
            <div class="skills-item">
                <img src="assets/img/skills/Unity.svg" width="80px"alt="C">
                <span>Unity</span>
            </div>
            
            <div class="skills-item">
                <img src="assets/img/skills/JavaFX.svg" width="80px"alt="Java">
                <span>JavaFX</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Qt.svg" width="80px"alt="C#">
                <span>Qt Creator</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Figma.svg" width="80px"alt="C#">
                <span>Figma</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/fusion360.png" width="80px"alt="C#">
                <span>Fusion 360</span>
            </div>
            <div class="skills-item">
                <img src="assets/img/skills/Blender.png" width="80px"alt="C#">
                <span>Blender</span>
            </div>
            
        </div>
        
        
        <h3>Mes certifications</h3>

        <div class="certifications">
            
            <a href="https://courses.nvidia.com/certificates/dfa96da549534c0e8f08d71dd27b33c5/" target="_blank" class="certif">
                
                <img src="assets/img/certifications/nvidia.jpg" loading="lazy" width="100" height="100" alt="certification nvidia">
                <p>Nvidia : Fundamentals of Accelerated Computing with CUDA Python</p>
                
            </a>
        
        
            <a href="./certifs/MariusDIGUAT--MATEUS-RE4E Introducti-certificate.pdf" target="_blank" class="certif">
                
                <img src="assets/img/certifications/re4e.jpg" loading="lazy" width="100" height="100" alt="certification cisco">
                <p>Cisco CCNA 1 : Introduction to Networks</p>
            </a>
        
        
            <a href="./certifs/MariusDIGUAT--MATEUS-RE4f-2022-certificate-1.pdf" target="_blank" class="certif">
                <img src="assets/img/certifications/re4f.jpg" loading="lazy" width="100" height="100" alt="certification cisco">
                <p>Cisco CCNA 2 : Switching Routing & Wireless Essentials</p>
            </a>

            <a href="https://graphacademy.neo4j.com/c/72e8ab01-c9f8-44a4-a14c-fcde78f82347/" target="_blank" class="certif">
                <img src="assets/img/certifications/neo4j-certification.svg" loading="lazy" width="100" height="100" alt="certification cisco">
                <p>Neo4j Certified Professional</p>
            </a>
        
        </div>
         
        
    </div>    

</section>
